# Web framework
streamlit>=1.26.0

# Data manipulation
pandas>=2.1.1
numpy>=1.26.0

# Fetch stock data
yfinance>=0.2.30
finnhub-python>=2.8.0
requests>=2.31.0

# Machine learning
scikit-learn>=1.3.2
xgboost>=1.7.6

# Deep learning
tensorflow

# Visualization
matplotlib>=3.8.1
seaborn>=0.12.2  # compatible with Python 3.11
